* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

img {
    max-width: 100px; /* Khống chế lại độ lớn của mấy cái logo đang bị to quá khổ */
    display: block;
}